<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar
      [(ngModel)]="searchQuery"
      [animated]="true"
      [showCancelButton]="true"
      placeholder="Buscar película por título, genero"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let m of movies | filterBy: searchQuery" tappable (click)="openMovieDetail(m)">
      <div class="img-container">
        <img [src]="m.posterUrl">
      </div>
      <div class="info-container">
        <h1>{{m.title}}</h1>
        <h4>{{m.genre}}</h4>
      </div>
      <ion-icon item-end name="star" *ngIf="m.isFav"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
